.container {
    padding: 16px;
    background-color: #EAEDED;
}

.title {
    margin-bottom: 16px;
}

/* Layout */
.layout {
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 16px;
}

/* Sidebar */
.sidebar {
    background: #fff;
    padding: 16px;
    border-radius: 4px;
}

/* Content */
.content {
    background: #fff;
    padding: 16px;
    border-radius: 4px;
}


/* Grid */
.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
}

/* Card */
.product-card {
    background: #fff;
    border: 1px solid #ddd;
    padding: 12px;
    border-radius: 6px;
    transition: 0.2s ease;
    cursor: pointer;
}

.product-card:hover {
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Image */
.product-image {
    width: 100%;
    height: 150px;
    object-fit: contain;
    margin-bottom: 8px;
}

/* Text */
.product-title {
    font-size: 14px;
    margin-bottom: 6px;
}

.product-brand {
    font-size: 12px;
    color: #555;
}

.product-price {
    font-weight: bold;
    color: #B12704;
}

.product-rating {
    font-size: 12px;
    color: #FFA41C;
}


.filter-section {
    margin-bottom: 16px;
}

.filter-section h4 {
    margin-bottom: 8px;
    font-size: 14px;
}

.filter-section label {
    display: block;
    font-size: 13px;
    text-align: start;
    margin-bottom: 4px;
}

.filter-section input {
    /* width: 100%; */
    margin-bottom: 6px;
    padding: 6px;
}

.filter-section button {
    width: 100%;
    padding: 6px;
    background: #FFD814;
    border: none;
    cursor: pointer;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
}
.pagination .active {
    background: #007bff;
    color: #fff;
}

/* Product Detail */

.detail-container {
    display: flex;
    gap: 2rem;
    align-items: flex-start;
}

/* LEFT SIDE */
.image-section {
    flex: 1;
}

.main-image {
    width: 100%;
    max-width: 400px;
    border-radius: 8px;
}

/* thumbnails */
.thumbnail-list {
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.thumb {
    width: 60px;
    height: 60px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 6px;
}

.thumb.active {
    border: 2px solid #007bff;
}

/* RIGHT SIDE */
.info {
    flex: 1;
}

/* ✅ MOBILE */
@media (max-width: 768px) {
    .detail-container {
        flex-direction: column;
    }

    .main-image {
        max-width: 100%;
    }
}

/* product detail end */

/* Responsive */
@media (max-width: 768px) {
    .layout {
        grid-template-columns: 1fr;
    }

    .sidebar {
        order: 2;
    }

    .content {
        order: 1;
    }
}